:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --dark-bg-text-color: #ffffff;
  --title-text-color: #212121;
  --dark-logo-color: #000000;
  --footer-bg-color: #2f303a;
  --header-padding-links: 30px 0px 30px 0px;
  --team-members: 4;
  --work-photo: 3;
  --client-number: 6;
  --bg-characteristic__item: #f5f4fa;
  --bg-footer-link: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
  --tr-duration: 250ms;
  --tr-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
